.prayer-wrapper {
    width: calc(var(--prayer-width));
    position: relative;
    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        pointer-events: none;
        box-shadow: rgb(255, 172, 38, 0.2) 0px 0px 0px 1px inset, rgb(255, 172, 38, 0.9) 0px 0px 0px 1px;
    }
}

.prayer-container {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    position: relative;
    transform-style: preserve-3d;
    width: 3000px;

    transition: left var(--trans-duration) ease-in-out;
    left: calc(-1 * var(--prayer-width) * var(--current-index));
}

.prayer-card {
    width: var(--prayer-width);
    flex-shrink: 0;
    text-align: center;
    padding: 32px;

    transition: all var(--trans-duration) ease-in-out;
    opacity: 0;
    position: relative;

    &::after, &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: opacity var(--trans-duration);
        z-index: 1;
    }

    /* kazdy box ma nastaven gradient pro after (zleva doprava) a pro before (zprava doleva) */
    /* pokud je box aktivni, tak se mu oba skryjou */
    /* podle toho jestli je box pred/za aktivnim prvkem, tak se odkryje prislusny gradient */
    &::after {
        background: linear-gradient(to right, transparent, var(--bg-80) 20%, var(--bg) 70%);
    }

    &::before {
        background: linear-gradient(to left, transparent, var(--bg-80) 20%, var(--bg) 70%);
    }
}

.active {
    opacity: 1;
    background-color: var(--bg);
    z-index: 1;
}

/* every prayer before .active */
.prayer-card:has(~ .active) {
    transform-origin: right center;
    transform:
        perspective(600px)
        translateX(calc(-1 * var(--prayer-gap)))
        translateZ(-100px)
        rotateY(-25deg)
        skewY(-10deg);

    &::before{ opacity: 1 }
}

/* every prayer after .active */
.active ~ .prayer-card {
    transform-origin: left center;
    transform:
        perspective(600px)
        translateX(var(--prayer-gap))
        translateZ(-100px)
        rotateY(25deg)
        skewY(10deg);

    &::after { opacity: 1 }
}

/* one prayer before .active */
.prayer-card:has(+ .active) {
    opacity: 1;
}

/* one prayer after .active */
.active + .prayer-card {
    opacity: 1;
}

/* modlitby s prilis dlouhym textem */
.prayer-card.long {
    .prayer-text {
        max-height: 660px;
        overflow-y: auto;
        padding-right: 8px;

        scrollbar-width: thin;
        scrollbar-color: var(--color-accent-light) var(--bg);
    }

    .prayer-end {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            opacity: 1;
            top: 0;
            left: 0;
            right: 0;
            height: 180px;
            background: linear-gradient(to top, var(--bg), transparent);
            transform: translateY(-100%);
            transition: opacity var(--trans-duration);
        }

        &.scrolled::before {
            opacity: 0;
        }
    }
}

.prayer-text {
    margin: 0;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 1px;

    & .first-letter {
        font-size: 3.1em;
        float: left;
        line-height: 1;
        margin-right: 5px;
    }
}

.prayer-start {
    margin: 0 48px;
    padding: 16px 0;
    border-top: 2px dotted;
    font-size: 15px;
    font-style: italic;

    & span { margin-right: 24px }
}

.prayer-end {
    margin: 0;
    padding: 16px 0;
    font-size: 15px;
    font-style: italic;

    & span { margin-right: 24px }
}

.next, .previous {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    padding: 0;

    transition: color var(--duration);
    cursor: pointer;
    color: var(--color-accent-lighter);
    height: 100%;
    width: 50px;
    z-index: 2;

    &:hover {
        color: var(--color-accent-hover);
    }

    &:active, &.active-button {
        transition: none;
        color: var(--color-accent-active);
    }
}

.next {
    right: 0;
    transform: translate(100%, -50%);
    padding-left: 10px;
}

.previous {
    left: 0;
    transform: translate(-100%, -50%);
    padding-right: 10px;
}

.icon.arrow {
    &.inverted { display: none; }
    &.normal {  display: block; }
}

@media (max-width: 640px) {
    .prayer-start {
        margin: 0;
        padding: 18px 0;
        font-size: 14px;
    }

    .prayer-end {
        padding: 18px 0;
        font-size: 14px;
    }

    .prayer-text {
        font-size: 16px;
    }

    .next, .previous {
        color: var(--color-accent-light);
        &:hover { color: var(--color-accent-light) }
        &:active, &.active-button { color: var(--color-accent-active) }
    }
    .next {
        transform: translate(8px, -50%);
        padding-left: 5px;
    }
    .previous {
        transform: translate(-8px, -50%);
        padding-right: 5px;
    }

    .icon.arrow {
        &.inverted { display: block; }
        &.normal {  display: none; }
        & > circle { fill: currentColor }
    }
}